// colors
$color-white: #fff;
$color-lightest-grey: #f7fafd;
$color-lighter-grey: #ebeff3;
$color-light-grey: #c9d3df;
$color-grey: #adb9c9;
$color-dark-grey: #8393a7;
$color-darker-grey: #8393a7;
$color-almost-black: #26353f;
$color-black: #1C1C1C;

$color-blue: #0053B3;
$color-light-blue: #006be6;
$color-dark-blue: #003b80;

$color-green: #5CB85C;
$color-light-green: #DAF5E7;
$color-orange: #FF9947;
$color-light-orange: #FFF0E4;
$color-red: #d63626;
$color-light-red: #efaca6;