html {
  height: auto;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.profile__group + .profile__group {
  margin-top: 2em;
}

.profile__group h2 {
  vertical-align: middle;
}

.dialog {
  display: inline-block;
  vertical-align: top;
}

button.button {
  margin: 0;
}

button.title-button.small {
  margin-left: 1em;
  padding: 0.5em 1em;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1em;
}

.action-buttons button.button {
  margin: 0;
}

.action-buttons button.button:first-child {
  margin-right: 1em;
}
