body, html {
  height: 100%;
}

#app {
  height: 100%;
}

.form__group {
  margin-bottom: 0;
}

.main-pane {
  min-height: calc(100% - 73px);
}

table {
  background: $color-white;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  box-sizing: border-box;
  box-shadow: 0 1px 4px $color-light-grey;
}

th, td {
  border: 1px solid $color-lighter-grey;
  padding: 1em;
  word-break: break-all;
}

button.title-button {
  margin-left: 1em;
  top: -4px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 1em;
}

.action-buttons button.button {
  margin: 0;
}

.action-buttons button.button:first-child {
  margin-right: 1em;
}

.panel {
  margin-bottom: 2em;
}